.btn{
    background-color:cyan;
    width: 100px;
    height: 50px;
}

li{
    width: 300px;
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    height: 25px;
    border: 2px;
}
